<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.UserMapper">
    <!--字段替换-->
    <resultMap id="user" type="user">
        <id column="user_id" property="userId"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>
    
    <!--查询多条数据-->
    <select id="findAll" resultType="user" resultMap="user">
        SELECT *
        FROM `mybatis_user`
    </select>
    
    <!--查询单条数据-->
    <select id="findOne" parameterType="integer" resultType="user" resultMap="user">
        SELECT *
        FROM `mybatis_user`
        WHERE `user_id` = #{userId}
    </select>
    
    <!--关联定义-->
    <resultMap id="userOrder" type="user">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="user_created_at" property="createdAt"/>
        <result column="user_updated_at" property="updatedAt"/>
        <collection property="orders" ofType="order">
            <id column="order_id" property="orderId"/>
            <result column="order_sn" property="orderSn"/>
            <result column="user_id" property="userId"/>
            <result column="amount" property="amount"/>
            <result column="order_created_at" property="createdAt"/>
            <result column="order_updated_at" property="updatedAt"/>
        </collection>
    </resultMap>
    
    <!--查询单条数据并绑定订单信息-->
    <select id="findOrderByUserId" parameterType="integer" resultMap="userOrder">
        SELECT *,
               `mybatis_user`.`created_at`  AS `user_created_at`,
               `mybatis_user`.`updated_at`  AS `user_updated_at`,
               `mybatis_order`.`created_at` AS `order_created_at`,
               `mybatis_order`.`updated_at` AS `order_updated_at`
        FROM `mybatis_user`,
             `mybatis_order`
        WHERE `mybatis_order`.`user_id` = `mybatis_user`.`user_id`
          AND `mybatis_user`.`user_id` = #{userId}
    </select>
    
    <!--关联定义-->
    <resultMap id="userRole" type="user">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="user_created_at" property="createdAt"/>
        <result column="user_updated_at" property="updatedAt"/>
        <collection property="roles" ofType="role">
            <id column="role_id" property="roleId"/>
            <result column="role_name" property="roleName"/>
            <result column="description" property="description"/>
            <result column="role_created_at" property="createdAt"/>
            <result column="role_updated_at" property="updatedAt"/>
        </collection>
    </resultMap>
    
    <!--查询单条数据并绑定订单信息-->
    <select id="findRoleByUserId" parameterType="integer" resultMap="userRole">
        SELECT `mybatis_user`.*,
               `mybatis_role`.*,
               `mybatis_user`.`created_at` AS `user_created_at`,
               `mybatis_user`.`updated_at` AS `user_updated_at`,
               `mybatis_role`.`created_at` AS `role_created_at`,
               `mybatis_role`.`updated_at` AS `role_updated_at`
        FROM `mybatis_user`,
             `mybatis_user_role`,
             `mybatis_role`
        WHERE `mybatis_user_role`.`user_id` = `mybatis_user`.`user_id`
          AND `mybatis_role`.`role_id` = `mybatis_user_role`.`role_id`
          AND `mybatis_user`.`user_id` = #{userId}
    </select>
    
    <!--新增数据-->
    <insert id="insert" parameterType="user">
        INSERT INTO `mybatis_user` (`username`, `password`, `created_at`, `updated_at`) VALUES (#{username}, #{password}, #{createdAt}, #{updatedAt})
    </insert>
</mapper>